.legend-container {
    display: flex;
    flex-direction: column;
    border: solid 1px rgb(5, 107, 5);
    padding:2px;
}
h4 {
    margin-top: 0vh;
    margin-bottom: 1vh;
    margin-left: 1vh;
}
.icon {
    margin: 0px 4px;
}
.info {
    font-size: 12px;
}
@media only screen and (max-width: 732px) {
    .legend-container {
        width: 98%;
        flex-direction: row;
        justify-content: space-evenly;
    }
}