.navbar{
    background-color: white;
    border-bottom: 1px solid grey;
    height: 10vh;
}

.navbar-links{
    margin: 0;
    padding: 0;
    float: right;
}

.navbar-links-item{
    margin: 0;
    padding: 25px;
    display: inline-block;
} 