.skills{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.map{
    position: absolute;
    width: 70vw;
    height: 89vh;
}

.sidebar {
    width: 27.5vw;
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 72%;
    height:89vh;
}
.skillcard-container {
    border: solid 1px rgb(5, 107, 5);
    margin: 2px;
    padding:2px;
    overflow: scroll;
    align-content: center;
    height: 36vh;
}
.legend-container {
    display: flex;
    border: solid 1px rgb(5, 107, 5);
    margin: 2px;
    padding:2px;
    overflow: scroll;
}
.searchform-container {
    display: flex;
    border: solid 1px rgb(5, 107, 5);
    margin: 2px;
    padding:2px;
}
.filterform-container{
    display: flex;
    border: solid 1px rgb(5, 107, 5);
    margin: 2px;
    padding:2px;
    background-color: lawngreen;
}
.infotext {
    font-size: 2.5vh;
    padding-left: 1vw;
    margin: 0px;
}
