.skills{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.map{
    width: 70vw;
    height: 89vh;
    order: 1;
}

.sidebar {
    width: 30vw;
    order: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;   
}
.skillcard-container {
    border: solid 1px rgb(5, 107, 5);
    align-content: center;
    min-height: 36vh;
    flex-shrink: 0;
}
.infotext {
    text-align: center;
    color: lawngreen;
    text-shadow: 1px 2px black ;
    font-size: 25px;
    padding: 3vw;
}
@media only screen and (max-width: 732px) {
    .skills{
       flex-direction: column;
    }
    .map{
        width: 98%;
        order: 2;
    }
    .sidebar {
     width: 100%;
     order:1;
     flex-direction: row;
    }
    .skillcard-container {
        order: 4;
        width: 99%;
    }
}