.skillcard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    height: 90%;
    padding: 1vh;
}
.skillcard div:last-child {
    margin-top: auto;
}
.skillcard-skill {
    padding: 1vh;
    font-size: 3vh;
    font-weight: bold;
    background-color: rgb(4, 59, 4);  
    color: ivory
}
.skillcard-description {
    margin-top: 1vh;
    font-size: 2vh;;
}
.skillcard-name {
    margin-top: 1vh;
    font-size: 2.5vh;
    font-weight: bold;  
}
.skillcard-postcode {
    font-size: 2vh;
    font-weight: bold;  
}
.skillcard-free {
    margin-top: 1vh;
    font-size: 2vh;
    font-style: italic;  
}
.skillcard-professional {
    font-size: 2vh;
    font-style: italic;  
}
.skillcard-email {
    margin-top: 1vh;
    font-size: 2vh;
    background-color: rgb(4, 59, 4); 
    padding: 1vh;
    color: ivory;
}
#iconId{
    color: chartreuse;  
}